.Logo {
	background-color: white;
	/*background-color: none;*/
	padding: 8px;
	height: 80%;
	box-sizing: border-box;
	border-radius: 5px;
}

.Logo img {
	height: 100%;
}

/*.LogoBurger {
	height:60% !important;
	padding: 10px 0;
}*/